body {
  background-color: #ffd5c2;
  font-family : Arial, Helvetica, sans-serif
}

a{
  color: #588b8b;
}

.container {
margin: 120px auto;
max-width: 600px;
}


h1 {
  font-family: 800;
  font-size: 34px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
}

header{
  margin-bottom: 30px;
}

.form-container{
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
}

.hint{
  line-height: 1.5;
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.6;
}

.hidden{
display:none
}

form{
  display: flex;
}

.instructions{
  padding: 16px;
  border: 1px solid #ffd5c2;
  width: 90%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #ffd5c2;
}

.submit-button{
  margin-left: 10px;
  background: #588b8b;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 20px;
  width: 150px;
  font-size: 16px;
  border-color: #588b8b;
}

.poem{
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 24px;
  line-height: 2;
  border-left: 3px solid #5D82A2;
  box-shadow: 0px 4px 30px 0px rgba(39 ,33, 66, 0.03);
}

.generating{
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer{
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}